.posts {
  display: flex;
  padding-left: 350px;
  padding-right: 350px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.cards {
  width: 392px;
  padding: 20px;
  border: solid 2px #e8e8ea;
  border-radius: 10px;
}
.img {
  width: 360px;
  height: 240px;
  border-radius: 10px;
  margin-bottom: 16px;
}
.img:hover {
  border: solid 5px red;
}
.article {
  border: solid 1px #4b6bfb0d;
  width: fit-content;
  padding: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #4b6bfb0d;
  color: #4b6bfb;
  border-radius: 10px;
  margin-bottom: 16px;
}
.title {
  height: 100px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 20px;
}
.timestamp {
  color: #97989f;
  font-size: 16px;
  font-weight: 400;
}
